# API Gateway
API_GATEWAY_PORT=3000

# Microservices
IDENTITY_SERVICE_HOST=localhost
IDENTITY_SERVICE_PORT=3001

BUSINESS_SERVICE_HOST=localhost
BUSINESS_SERVICE_PORT=3002

COMMERCE_SERVICE_HOST=localhost
COMMERCE_SERVICE_PORT=3003

SHIPPING_SERVICE_HOST=localhost
SHIPPING_SERVICE_PORT=3004

COMMUNITY_SERVICE_HOST=localhost
COMMUNITY_SERVICE_PORT=3005

PROMOTION_SERVICE_HOST=localhost
PROMOTION_SERVICE_PORT=3007

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# CORS
CORS_ORIGIN=http://localhost:3000
